
.nav-link{
  color: white;
  transition-duration: 500ms;
}

.nav-link:hover{

  border-bottom: 3px solid #1d1185;
  color:white;
}

.navbar-nav{

  padding-top: 0.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;

}

.navbar{
  background-color: black;
}

.nav-item{

  font-size:100%;

}

.fa-custom{

  color:grey;
}
